<div class="container">
    <br>
    <div class="card border-success mb-3" style="max-width: 100%;">
        <div class="card-header"><h1>Task Details</h1></div>
        <div class="card-body text-secondary">
          <div class="card-text">
              <div class="row">
                  <div class="col-md-4"><b>Task ID</b></div>
                  <div class="col-md-3">{{task?.id}}</div>
                </div>
              <div class="row">
                  <div class="col-md-4"><b>Task Name</b></div>
                  <div class="col-md-3">{{task?.name}}</div>
                </div>

              <div class="row">
                  <div class="col-md-4"><b>Description</b></div>
                  <div class="col-md-8">
                    <p>
                        {{task?.description}}
                    </p>
                  </div>
                </div>
              <hr>
              <div class="col-md-1 col-sm-1 " *ngIf="!securityObject.isAdmin">
                <a class="btn btn-success btn-sm" href="#">Mark as Completed</a>

              </div>
              <div class="row" *ngIf="securityObject.isAdmin">
                  <div class="col-md-1 col-sm-1 offset-md-8 offset-sm-8" *ngIf="!securityObject.isAdmin">
                      <a class="btn btn-success btn-sm" href="#">Mark as Completed</a>

                    </div>
                  <div class="col-md-1 col-sm-1 offset-md-8 offset-sm-8">
                    <a class="btn btn-info btn-sm" routerLink="/tasks/{{task?.id}}/edit">&nbsp;Edit Task&nbsp;</a>

                  </div>

                  <div class="col-md-1 col-sm-1 ">
                      <a class="btn btn-danger btn-sm" href="#">Delete Task</a>

                    </div>


              </div>

            </div>
        </div>
      </div>

    </div>
