<br>
<table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Task Name</th>
        <th *ngIf="!securityObject.isAdmin">Status</th>
        <th>Details</th>
        <td *ngIf="securityObject.isAdmin">Remove Task</td>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td *ngIf="!securityObject.isAdmin"><span class="badge badge-success">Completed</span></td>
            <td>
              <!-- <a routerLink="/tasks/1">View Description</a> -->
              <a href="javascript:void(0);" (click)="getUrl()">View Details</a>
            </td>
            <td *ngIf="securityObject.isAdmin">
              <button class="btn btn-danger btn-sm">X</button>
            </td>
        </tr>
    </tbody>
    <br>
</table>
