
<br>


<table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" >
            <td *ngFor="let col of columns">

                  <div *ngIf="col=='isActive' ;else else_content">
                      <div *ngIf="user[col]==true ;else other_content">
                        <button class='btn btn-success btn-sm' (click)="onSelect(user,0)" >
                            &nbsp;Active&nbsp;
                        </button>



                      </div>
                      <ng-template #other_content>
                          <button class='btn btn-danger btn-sm' (click)="onSelect(user,1)">
                                InActive
                           </button>

                    </ng-template>
                  </div>
                  <ng-template #else_content>
                    <a routerLink="/users/{{user.id}}">
                      {{user[col]}}
                    </a>
                  </ng-template>


            </td>
         </tr>
    </tbody>





    <br>
    <!-- <app-user-detail [user]="selectedUser"></app-user-detail> -->
