    <div class="list-group-item">
        <div class=" card">
            <div class="card-body">
              <h5 class="card-title">PHP</h5>
              <p class="card-text">Completed 3 modules</p>

            </div>
            <div class="card-footer text-muted">
              2 days ago
              <div *ngIf="!securityObject.isAdmin">
                  <div class="col-md-2 offset-md-10">
                      <button class="btn btn-danger btn-small">Delete Feedback</button>
                  </div>
              </div>
            </div>
          </div>
    </div>

      <br>

